body {
    background: linear-gradient(rgb(184, 182, 182), #fff) no-repeat center center;
    font: 14px sans-serif;
    padding: 20px;
}

.pages {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 90%;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 24px;
    position: relative;
    width: 80%;
}

label {
    color: black;
}

select {
    display: block;
    background-color: transparent;
    border: none;
}

.messages {
    display: block;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    background-color: aqua;
}

#changelist-search {
    padding-top: 10px;
}

#searchbar {
    border: 2px solid grey;
    box-shadow: none;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

#edit-flight-form {
    float: none;
    
}