{% extends "logbook/index.html" %}

{% block content %}

<div class="container">
    <h4 class="center-align">Add a New Booking</h4>

    <div class="row">
        <div id="edit-flight-container">
            
            <form id="edit-flight-form" action='book' method="POST">
                
                {% csrf_token %}
                {{ bookingForm.as_p }}
                <div>
                    <p>
                        <button class="btn btn-primary" type="submit" name="action">Submit</button>
                    </p>   
                </div> 
            </form>
        </div>
    </div>
</div>

{% endblock %}
