{% extends "logbook/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 center-align"><h2>Calender</h2></div>
    </div>
</div>

<div class="container">
    <div id="external-events" class="row">
        <div class="col-8 overflow-scroll event-height m-5">
            {% for event in events %}
            <!-- <div id='draggable-el' class="btn btn-primary" data-event='{ "title": "{{ event.name }}", "duration": "{{ event.duration }}" }'>Drag {{ event.name }} to Calendar</div> -->
            <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
                <div class='fc-event-main' data-event='{ "title": "{{ event.name }}", "duration": "{{ event.duration }}" }'>{{ event.name }}</div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
<div id="calendar-container" class="container">
    <div id="calendar"></div>
</div>


{% endblock %}