{% extends "logbook/base.html" %}

{% block content %}


    <div class="container">
        <h4>Edit a Flight</h4>

        <div class="row">
            <div class="col s12 m4 l8">
                <form id="edit-flight-form" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <p>
                            <button class="btn btn-success" type="submit" name="action">Update Flight</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Delete
                              </button>
                        </p>   
                    </div> 
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">WARNING!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>Are you sure you want to remove this flight?</p>
            </div>
            <div class="modal-footer">
              <button type="button" id="close-btn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="/delete/{{ flight.id }}" type="button" class="btn btn-danger">Delete Flight</a>
            </div>
          </div>
        </div>
      </div>
  
{% endblock %}