
{% extends "logbook/base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <h4 class="center-align">Add a New Record</h4>

    <div class="row">
        <div id="edit-flight-container">
            
            <form id="edit-flight-form" action="add" method="POST">
                
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <p>
                        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Submit</button>
                    </p>   
                </div> 
            </form>
        </div>
    </div>
</div>

{% endblock %}
