{% extends "logbook/base.html" %}

{% block content %}

    <div class="row">
        <div class="col s4">
            <div id="toolbar">
                <form id="changelist-search" method="get">
                
                    <!-- <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label> -->
                    <input type="text" size="40" name="q" value="" id="searchbar" placeholder="Search for flights here.." autofocus="">
                    <input class="btn btn-small deep-orange lighten-1" type="submit" value="Search">
                
                </form>
            </div>
        </div>
    </div>

    <div class="container pages grey lighten-4">
        <div class="col s12">
            {% if user.is_authenticated %}
            <table>
                
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.date }}</td>
                    <td>{{ flight.aircraft }}</td>
                    <td>{{ flight.captain }}</td>
                    <td>{{ flight.departure.upper }}</td>
                    <td>{{ flight.destination.upper }}</td>
                    <td>{{ flight.duration }}</td>
                    <td>{{ flight.notes }}</td>
                    <td><a href="/edit/{{ flight.id }}" class="btn-small btn-floating red lighten-2">
                        <span class="material-icons">edit</span></a></td>
                </tr>
                {% empty %}
                <tr>You have no flights to display.</tr>
                {% endfor %}
            </table>
            {% else %}
            <strong><p class="center-align">You are not signed-in. Please <a href="{% url 'account_signup' %}">register</a> or 
                <a href="{% url 'account_login' %}">sign-in</a> to view your flights! </p></strong>
            {% endif %}
        </div>
    </div>

{% endblock %}