<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>eLogbook</title>
</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="nav-wrapper blue darken-4">
        <a href="#!" class="brand-logo center">eLogbook</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="add">New Flight</a></li>
        </ul>
        </div>
    </nav>

    <div class="container pages grey lighten-4">
        <div class="col s12">
            <table>
                
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.date }}</td>
                    <td>{{ flight.aircraft }}</td>
                    <td>{{ flight.captain }}</td>
                    <td>{{ flight.departure.upper }}</td>
                    <td>{{ flight.destination.upper }}</td>
                    <td>{{ flight.notes }}</td>
                    <td><a href="/edit/{{ flight.id }}" class="btn-small btn-floating red lighten-2">
                        <span class="material-icons">edit</span></a></td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
  

    <!-- JavaScript Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->
</body>
</html>