{% extends "logbook/base.html" %}

{% block content %}
    <div class="container heading center-align"><h3 class="display-5">Previous Flights</h3></div>

    <div class="container pages grey lighten-4">
        <div class="row">
            <div class="col s12">
                {% if user.is_authenticated %}
                <table>
                    <tr class="table-headings">
                        <td>Date</td>
                        <td>Aircraft</td>
                        <td>Captain</td>
                        <td>Departure</td>
                        <td>Destination</td>
                        <td>Duration</td>
                        <td>Notes</td>
                        <td><a href="{% url 'addFlight' %}"><i class="fas fa-plus-circle small table-icon"></i></a></td>

                    </tr>
                    {% for flight in flights %}
                    <tr>
                        <td>{{ flight.date }}</td>
                        <td>{{ flight.aircraft }}</td>
                        <td>{{ flight.captain }}</td>
                        <td>{{ flight.departure.upper }}</td>
                        <td>{{ flight.destination.upper }}</td>
                        <td>{{ flight.duration }}</td>
                        <td>{{ flight.notes }}</td>
                        <td><a href="/edit/{{ flight.id }}" ><i class="fas fa-pen small table-icon"></i></a></td>
                    </tr>
                    {% empty %}
                    <tr>You have no flights to display.</tr>
                    
                    {% endfor %}
                </table>
            </div>
        </div>
                {% else %}
            <strong><p class="center-align">You are not signed-in. Please <a href="{% url 'account_signup' %}">register</a> or 
                <a href="{% url 'account_login' %}">sign-in</a> to view your flights! </p></strong>
            {% endif %}
    </div>
    <hr>
    <div class="container heading center-align"><h3 class="display-5">Bookings</h3></div>
    <div class="container pages grey lighten-4">
        <div class="row">
            <div class="col s12">
                {% if user.is_authenticated %}
                <table>
                    <tr class="table-headings">
                        <td>Date</td>
                        <td>Slot</td>
                        <td>Aircraft</td>
                        <td>Name</td>
                        <td>Notes</td>
                        <td><a href="{% url 'book' %}"><i class="fas fa-plus-circle small table-icon"></i></a></td>
                    </tr>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.slot }}</td>
                        <td>{{ booking.aircraft }}</td>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.notes }}</td>
                        <td><a href="/edit-booking/{{ booking.id }}" ><i class="fas fa-pen small table-icon"></i></a></td>
                    </tr>
                    {% empty %}
                    <tr>You have no bookings to display.</tr>
                    
                    {% endfor %}
                </table>
            </div>
        </div>
                {% else %}
            <strong><p class="center-align">You are not signed-in. Please <a href="{% url 'account_signup' %}">register</a> or 
                <a href="{% url 'account_login' %}">sign-in</a> to view your bookings! </p></strong>
            {% endif %}
    </div>
{% endblock %}